#### PostgreSQL Trigger

In [ ]:
https://www.softwaretestinghelp.com/triggers-in-pl-sql/

1. It is a user-defined function invoked automatically 
2. It is associated with a table and invoked when an event such as insert, update, or delete occures.

#### Why you should use triggers?

Use Cases:
1. Automatically generate derived column values
2. Enforce complex constraints
3. Enforce referential integrity across nodes in a database
4. Provide transparent event logging
5. Provide auditing
- invalidate cache enterie

##### CREATE Trigger

To create a new trigger in PostgreSQL, following are the steps:
    1. Create a Trigger function using CREATE FUNCTION statement
    2. Bind the trigger function by using the CREATE TRIGGER statement

#### Create trigger function syntex

A trigger function is similar to a regular user-defined function.

However, a trigger function does not take any arguments and has a return value with the type *trigger*

CREATE FUNCTION trigger_function() 
   RETURNS TRIGGER 
   LANGUAGE PLPGSQL
AS $$
BEGIN
   -- trigger logic
END;
$$

After creating a trigger function, bind it to one or more trigger events such as *INSERT*, *UPDATE* and *DELETE*.

#### CREATE TRIGGER statement:

Before discussing syntex of Create Trigger, let's discuss types of triggers:

There are two types of triggers based on the **trigger frequency**:
    1. Row-level triggers
    2. Statement level triggers
    
The diffrance between the two kinds are how many times the trigger is invoked and at what time.

A row-level trigger is fired for each row.
Statement level trigger is fired for each transaction.

For example, if you issue an UPDATE statement that affects 20 rows, the row level trigger will be invoked 20 times, while the statement level trigger will be invoked 1 time.

##### Categorization on the trigger timing:
    1. BEFORE trigger: The trigger is fired before the change is made to the table.
    2. AFTER trigger: The trigger is fired after the change is made to the table.

Syntex for creating a trigger:

CREATE TRIGGER trigger_name 
   {BEFORE | AFTER} { event }
   ON table_name
   [FOR [EACH] { ROW | STATEMENT }]
       EXECUTE PROCEDURE trigger_function

* *event* in the above syntex can be INSERT, DELETE, UPDATE or TRUNCATE.
* Also, specify whether its a Row-level trigger or statement-level trigger.
  * Row-level trigger is specified by the *FOR EACH ROW* clause.
  * Statement-level trigger is specified by the *FOR EACH STATEMENT* clause.
  
* Specify the name of the trigger function after the *EXECUTE PROCEDURE* keywords.

#### Trigger Arguments:
* NEW: Variable holding the new row for INSERT/UPDATE operations in row-level triggers

* OLD: Variable holding the old row for UPDATE/DELETE operations in row-level triggers.

#### Example:
1. Create two tables employee_info and employee_ audits. employee_info contains information about  employees of a company and has fields (id, first_name, last_name). employee_audits has fields (id, employee_id, last_name, changed_on) and updated when the name of an employee changes.

2. create a trigger to log the changes in employee_audits table when the name of an employee changes.

1. Create two tables employee_info and employee_audits

Table employee_info:


CREATE TABLE employee_info(
   id INT GENERATED ALWAYS AS IDENTITY,
   first_name VARCHAR(40) NOT NULL,
   last_name VARCHAR(40) NOT NULL,
   PRIMARY KEY(id)
);

Table employee_audits:

CREATE TABLE employee_audits (
   id INT GENERATED ALWAYS AS IDENTITY,
   employee_id INT NOT NULL,
   last_name VARCHAR(40) NOT NULL,
   changed_on TIMESTAMP(6) NOT NULL
);

2. create a function *log_last_name_changes*:

CREATE OR REPLACE FUNCTION log_last_name_changes()
  RETURNS TRIGGER 
  LANGUAGE PLPGSQL
  AS
$$
BEGIN
	IF NEW.last_name <> OLD.last_name THEN
		 INSERT INTO employee_audits(employee_id,last_name,changed_on)
		 VALUES(OLD.id,OLD.last_name,now());
	END IF;

	RETURN NEW;
END;
$$

Above function inserts the old last name into the employee audits table including employee_id and the the time of change.

The OLD represents the row before update while the NEW represents the new row that will be updated. The OLD.last_name returns the last name before the update and the NEW.last_name returns the new last name

3. Bind the trigger function to the employee_info

CREATE TRIGGER last_name_changes
  BEFORE UPDATE
  ON employee_info
  FOR EACH ROW
  EXECUTE PROCEDURE log_last_name_changes();

#### DROP TRIGGER:  
dropping a trigger from the table

DROP TRIGGER [IF EXISTS] trigger_name 
ON table_name [ CASCADE | RESTRICT ];

ALTER TRIGGER
* this statement allows you to rename a trigger.

Syntex:
ALTER TRIGGER trigger_name
ON table_name 
RENAME TO new_trigger_name;

#### Replacing Trigger:

* PostgreSQL does not support any statement that allows to modify the trigger defination like the function that will be executed when the trigger is fired.

* If you want to replace the DROP TRIGGER and CREATE TRIGGER statements.

#### DISABLE TRIGGER

To disable a trigger, use ALTER TABLE DISABLE TRIGGER statement.

ALTER TABLE table_name
DISABLE TRIGGER trigger_name | ALL

* specify the name of the table, with which the trigger is associated with, after the ALTER TABLE keywords.
* Specify the name of the trigger to disable after the DISABLE TRIGGER keywords or use the ALL keyword to disable all triggers associated with the table.

The disabled trigger will not fire when an event associated with the trigger occurs. However, the trigger still exists in the database.

ENABLE TRIGGER

To enable a trigger or all triggers associated with a table, use the ALTER TABLE ENABLE TRIGGER statement.

Syntex:

ALTER TABLE table_name
ENABLE TRIGGER trigger_name |  ALL;

If you want to enable all the triggers associated with a table, use *ALL* option.